@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Lato:ital,wght@1,100&family=Roboto:ital,wght@1,300&display=swap');

body {
  overflow: hidden ;
  font-family: sans-serif;
}

.home-trasaction-general {
  margin-top: 10%;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch; /* Ajusta la altura de los componentes al div padre */
}

@font-face {
  font-family: "Iceland-Regular";
  src: url("../Fonts/Iceland-Regular.ttf") format("truetype");
}

.container-table-transaction {
  width: 85%;
}

.side-select {
  width: 15%;
}

.menu  {
  border-radius:10px;
  text-align:right;
  font:18px arial;
  color: #ccc;
  position: relative;
  box-sizing:border-box;
  border:2px solid #ccc;
  position: relative;
  box-shadow: 0 0 0 6px #f1f1f1;
 	transition: all .3s linear;
}

.menu:hover{
  background: #f8f6f6;
  color: #1b1e24;
}

.menu:hover, .menu:active {
  border-color: #BFDDF1;
  box-shadow: rgba(212, 234, 247, 1) 0 0 7px, inset #C0D5DB 0 0 6px;
}

.menu > option{
  display: flex;
  font-size:17px;
  text-align:left;
  font-family: Arial, sans-serif; /* Cambia la fuente */
  color:#1b1e24;
}

.menu{
  padding: 10px;
  border-bottom:1px dotted #ccc;
  color: #ccc; 
  transition: all 0.3s;
}

option:hover{
  background: #f1f1f1;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 80%;
  width: 70%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  text-align: center;
  color:#D5DDE5;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  text-align: center;
  border-top-left-radius:3px;
}
 
th:last-child {
  text-align: center;
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  text-align: center;
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  text-align: center;
  background:#293d61;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  text-align: center;
  border-top:none;
}

tr:last-child {
  text-align: center;
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  text-align: center;
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  text-align: center;
  background:#293d61;
}

tr:last-child td:first-child {
  text-align: center;
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  text-align: center;
  border-bottom-right-radius:3px;
}
 
td {
  text-align: center;
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  text-align: center;
  border-right: 0px;
}