@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Lato:ital,wght@1,100&family=Roboto:ital,wght@1,300&display=swap');

body {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: "Iceland-Regular";
  src: url("../Fonts/Iceland-Regular.ttf") format("truetype");
}

.headerHome {
  padding: 0;
  border: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#293d61, #243b55);
  border-bottom: 2px solid black;
  width: 100%;
  height: 30%;
  font-size: 14px;
  font-family: "Iceland-Regular";
}

.saluditos {
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1em;
}

.saluditos div {
  text-align: center;
  font-size: larger;
  background-color: whitesmoke;
  border-radius: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  margin: 0;
  border: 4px solid red;
  height: 100%;
  width: 25%;
}

.saluditos div:hover {
  transform: scale(1.05);
}

.cryptotitle {
  color: black;
}

.cryptocenter{
    background-color: black;
}

.pere{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 80%;
  width: 70%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  text-align: center;
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  text-align: center;
  border-top-left-radius:3px;
}
 
th:last-child {
  text-align: center;
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  text-align: center;
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  text-align: center;
  background:#293d61;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  text-align: center;
  border-top:none;
}

tr:last-child {
  text-align: center;
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  text-align: center;
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  text-align: center;
  background:#293d61;
}

tr:last-child td:first-child {
  text-align: center;
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  text-align: center;
  border-bottom-right-radius:3px;
}
 
td {
  text-align: center;
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  text-align: center;
  border-right: 0px;
}

th.text-left {
  text-align: center;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: center;
}

td.text-left {
  text-align: center;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: center;
}